<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		
	</typeAliases>


 	<mappers>
		<mapper resource="mapper/MemberMapper.xml" />
		<mapper resource="mapper/BoardMapper.xml" />
		<mapper resource="mapper/ReplyMapper.xml" />
		<mapper resource="mapper/CarMapper.xml" />
 	</mappers>
	

</configuration>











